@import 'reset.css';
@page:960px;
@basecolor:#9966ff;
@lightcolor:lighten(@basecolor, 50%);
@darkcolor:darken(@basecolor, 25%);

.gradient(@light,@dark){
  background-image:-webkit-linear-gradient(@light,@dark);
  background-image:-moz-linear-gradient(@light,@dark);
  background-image:-ms-linear-gradient(@light,@dark);
  background-image:-o-linear-gradient(@light,@dark);
  background-image:linear-gradient(@light,@dark);


}
body{
  color:#000000;
  width:@page;
  background-color:@lightcolor;
  margin: 0 auto;

}

header{
  .gradient(#ffffff,#000000);
  h1{
    color:#ffffff;
  }
  nav{
    .gradient (@lightcolor,@darkcolor);
    ul{
      height: 24px;
      li{
        width:@page/6;
        float:left;
        a{
          color:#ffffff;
          text-decoration: none;
          padding:4px 0;
          display: block;

        }
      }
    }
  }


}

